
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --bg-color: #2A2F37;
  --main-color: #A0F0EE ;
  --secondary-color: #D9D9D9;
  --paragraph-color:  #CDC8C5;

  --sz: 2vmin;
  --on: var(--main-color);
  --of: #fff0;
  --gr: #666666;
  --tr: all 0.5s ease 0s;
  --lg: var(--of);
  --transition: all 0.3s ease 0s

}

body {
  font-family: 'Source Code Pro', monospace;
  background-color: var(--bg-color);
  font-size: 1.6rem;
  line-height: 2;
  height: 100%;
  margin: 0; 
  padding: 0; 
 
  


}

body, #root {
  height: 100%;
  margin: 0;
  padding: 0;

}

img{
max-width: 100%;
display: block;
}



.contenedor{
  max-width: 1200px;
  margin: 0 auto;
}


img {
  max-width: 100%;
  display: block;
}

/**NAVBAR BEGIN */

.navbar-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  position: fixed;
  padding: 10px 0;
  top: 0;
  background-color: #2a2f37;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  opacity: 10;
  z-index: 999;
}

.btn-menu {
  width: 100%;
  height: 10rem;
  padding: 0 2rem;
  position: relative;
  z-index: 1000;
  
  
 
 
}

.btn-menu  svg{
  position: fixed;
  margin-top: 2rem;
  background-color: var(--bg-color);
  border-radius: 1rem;
  padding: 1rem;
}

@media(min-width:768px){
  .btn-menu{
   display: none;
    
  }

}

.btn-menu svg{
  width: 6rem;
 
  color: var(--main-color);
 
}

.menu-open{
  transform: translateX(0);
  
  
}


.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
 

  

}



@media(min-width:768px){
  .navbar-container{
    width: 100%;
    height: 10rem;
   display: flex;
   justify-content: space-evenly;
    position: fixed;
    padding: 10px 0;
    z-index: 1000;
    top: 0;
    background-color: #2A2F37;
    transform: translateX(0);
  
  
  }

}



.name{
  font-size: 2.5rem;
  color: var(--main-color);
}






@media(min-width:768px){
  .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10rem;
  
  }
}

.navbar-a, .btn-contact{
  text-decoration: none;
  color: var(--paragraph-color);
  padding: 2rem 3rem;
  font-size: 2rem;
  cursor: pointer;

}

.navbar-a:hover{
border-bottom: solid 4px var(--main-color);
transition: var(--transition);


}

/**NAVBAR END */


.btn-contact{
  background-color: var(--main-color);
  border-radius: 3rem;
  padding: 0.5rem 3rem;
}

.btn-contact a{
  text-decoration: none;
  color:#000 ;
  font-weight: bold;
  
 
}

.btn-contact:hover{
  background-color: var(--main-color);
  opacity: 0.5;
  transition: var(--transition);
 
}



@media(min-width:768px){
  .grid-saludo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 5rem;
    height: 100%;
   
  }
  
}

.app-container{
  margin-top: 10rem;
}


.main-section{
 

  height: 100vh;
  min-height: 100vh;

  
}

.saludo-componemt{
  margin-top: 20rem;
}

@media(min-width:768px){
  .main-section{
 
    margin-top: 5rem;
    height: 100vh;
    min-height: 100vh;
  
    
  }

}

.title{
  font-size: 4rem;
  color: var(--main-color);
  text-align: center;
  
 
}

.saludo-text p{
  font-size: 2rem ;
  color: var(--secondary-color);
  line-height: 0;
  margin: 1rem 0;
  text-align: center;
  padding: 0 2rem;
}

.saludo-text span{
  font-size: 3rem ;
  color: var(--main-color);
  line-height: normal;
  padding: 2rem;
}

.description-text{
  font-size: 1.5rem;
  line-height: normal;
  margin-top: 3rem;
  color: var(--paragraph-color);
  padding: 2rem;
}



@media(min-width: 768px){
  .title{
    font-size: 6rem;
    margin: 0;
    text-align: left;
   
  }

  .saludo-text p{
    font-size: 4rem ;
    color: var(--secondary-color);
    line-height: normal;
    text-align: left;
    margin: 1rem 0;
    padding: 0;
  } 

  .saludo-text span{
    font-size: 4rem ;
    padding: 0;
    
  }

  .description-text{
    font-size: 2rem;
    line-height: normal;
    color: var(--paragraph-color);
    padding: 0;
  }

}


.lets-talk{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10rem;
  justify-content: center;
}
.incone svg{
  display: flex;
  border-radius: 5rem;
  text-align: center;
  padding: 1rem 1.5rem;
  color: var(--main-color);
  width: 9rem;
  
  
}

.lets-talk p{
  font-size: 3rem;
  color: var(--main-color);
  margin: 0;
}




@media(min-width:768px){
  .lets-talk{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    justify-content: normal;
  }

  .lets-talk p{
    font-size: 5rem;
    color: var(--main-color);
    margin: 0;
  }

  .incone svg{
    display: flex;
    border-radius: 5rem;
    text-align: center;
    padding: 1rem 1rem;
    color: var(--main-color);
    width: 7rem;
    
    
  }

}


.incone svg:hover{
  background-color: var(--main-color) ;
  color: #000;
  transition: var(--transition);

  
}


.secction-img{
  width: 30rem;
  height: 30rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background: rgb(2,0,36);
  border-radius: 50%;
  background: rgb(0,0,0);
  background: linear-gradient(355deg, rgba(0,0,0,1) 0%, rgba(42,47,55,1) 0%, rgba(160,240,238,1) 42%);
  opacity: 0.9;
  ;


}





@media(min-width:768px){
  .imagen-saludo{
    padding: 0;
    margin: 0;
  }

}



.img{
  width: 30rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-bottom: 10rem;
  margin-top: 6rem;
  position: absolute; 
}


.btnCV svg{
  width: 7rem;
  color: #000;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  padding: 1rem;
  bottom: 15rem;
  top: 20rem;
  left: 6rem;
  z-index: 1000;
  
 
}


@media(min-width:768px){

  .img{
    width: 50rem;
    height: 40rem;
    display: flex;
    align-items: flex-end;
    margin-right: 10rem;
    margin-bottom: 10rem;
    margin-top: 6rem;
    position: absolute; 
  }

  .secction-img{
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    border-radius: 50%;
    background: rgb(0,0,0);
  background: linear-gradient(355deg, rgba(0,0,0,1) 0%, rgba(42,47,55,1) 0%, rgba(160,240,238,1) 42%);
    opacity: 0.9;
    
  
  
  }

  .btnCV svg{
    width: 8rem;
    color: #000;
    background-color: var(--main-color);
    border-radius: 50%;
    position: relative;
    bottom: 15rem;
    
    top: 0;
   left: 10rem;
   z-index: 999;
   
  }


}



.img img{
border-radius: 45%;
-webkit-filter: brightness(50%);
filter: brightness(50%);




}

.img-container{
  width: 100%;
  margin-left: 5rem;
}




.btnCV svg:hover{
  background-color: var(--paragraph-color);
  color: var(--main-color);
  transition: var(--transition);

}


/** ABOUT SECTION BEGIN **/

.about-container{
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 0 2.5rem;
}


.about-text{
  color: var(--main-color);
  font-size: 3rem;
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 5rem;
  line-height: 0;
}


.contenedor .some-about{
  font-size: 3rem;

}

section .dynamicText{
  font-size: 3rem;
  color:  var(--secondary-color);
  text-align: center;
  margin-bottom: 0;

}

@media(min-width:768px){
  .about-container{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 2rem 5rem;
  }

  .about-text{
    color: var(--main-color);
    font-size: 4rem;
    text-align: center;
    margin-top: 15rem;
    line-height: 0;
    margin-bottom: 0;
  }

  
section .dynamicText{
  font-size: 5rem;
  color:  var(--secondary-color);
  text-align: center;
  margin-bottom: 0;

}
  

}



section p{
  color: var(--paragraph-color);
  line-height: normal;
  text-align: left;
  font-size: 1.7rem;
}

@media(min-width:768px){
  section p{
    color: var(--paragraph-color);
    line-height: normal;
    text-align: left;
    font-size: 2rem;
  }

}

.skills-container{
  overflow-y: hidden;
  width: 100%;
  margin-top: 5rem;
  background-position: right;
  line-height: normal;

}



 .skills-img img{
  width: 7rem;
}

.skills-img{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 1rem;

}

.mySkills-text{
  margin-top: 2rem;
   color: var(--main-color);
   font-size: 3rem;
   text-align: center;
   
 }



@media (min-width:768px){
  .skills-container{
    justify-items: start;
    width: 100%;
    padding: 0 10rem;
  }

  .mySkills-text{
     font-size: 5rem;
   }

   .skills-img img{
    width: 10rem;
  }

  .skills-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
  }
 
}



.text-skills{
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  

}

.text-skills p{
  
  
  color: var(--secondary-color);
  font-size: 2rem;
 
  

}




.projects-sections{
  margin-top: 10rem;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  
  
  
}

.projects-sections h2{
text-align: center;
margin: top 10rem ;
font-size: 3rem; 
color: var(--main-color);
line-height: 0;
margin-bottom: 5rem;
}


@media(min-width:768px){
  .projects-sections h2{  
    font-size: 5rem; 
 
    }

    .projects-sections{
      margin-top: 20rem;
      height: 100vh;
      
      
    }
    

}

.text-left{
  text-align: left;
}

.project-description{
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  
}

.project-description p{
  width: 100%;
  height: auto;


  
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  background-color: #45484e;
  justify-content: space-around;
  
}

@media(min-width:768px){
  .card{
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    text-align: left;


    
  }
}

.card p{
  font-size: 1.7rem;
  text-align: center;
  line-height: normal;
}

.card:hover{
  
  cursor: pointer;
}





.projects-imagen{
  width: 100%;
  height: 100%;
  
}

.btn-deploy{
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  align-items: center;
 

}

.btn-deploy:hover{
  background-color: var(--main-color);
  transition: var(--transition);
  

}

.btn-deploy a{
  color: white;
  font-weight: 900;
}

.btn-deploy a:hover{
  color: var(--bg-color);
}




@media(min-width:768px){
  .card-container .projects-imagen{
    width: 100%;
    
    
  }

  .btn-container{
    display: block;
  }
  
}

.btn-code{
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 2rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  
}

.btn-code a{
  text-decoration: none;
  color: var(--paragraph-color);
  font-weight: bold;
  transform: scale(1);
}


.btn-code img{
  width: 5rem;
  margin-right: 1rem;
  
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

@media (min-width:768px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    
  }
}



form{
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-height: 100%;
 
  
}

@media(min-width:768px){
  form{
    width: 100%;
    height: 100%;
    min-width: 100%;
    
   
    
  }
}

.inputs{
  width: 100%;
  border: none;
}

.form-container h2{
  text-align: left;
  margin-top: 5rem;
  padding: 3rem 0;

}

.input-field{
  background-color: var(--bg-color);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid var(--paragraph-color);
  width: 100%;
  font-size: 2rem;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
  caret-color:var(--main-color) ;
  cursor: text;
}

@media(min-width:768px){
  .input-field{
    margin-bottom: 4rem;
  }
}

.input-field:hover{
  border-color: var(--main-color);

}


.input-field:focus {
  outline: none;
  color: var(--paragraph-color);
  font-family: 'Source Code Pro', monospace;
  background-color: var(--bg-color);
}

.input-field:not(:focus),
.input-field:-webkit-autofill {
  background-color: var(--bg-color);
}

.input-field:not(:focus) {
    background-color: var(--bg-color);
    color: var(--paragraph-color);
 

}

.btn-sent{
  width: 100%;
  padding: 2rem  0;
  border-radius: 1.5rem;
  background-color: var(--main-color);
  border: none;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
  line-height: 1rem;
  transform: scale(1);
  
}

@media(min-width:768px){
  .btn-sent{
    width: 20rem;
    font-size: 2.5rem;
    
    
  }
  

}

.btn-sent:hover{

  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
  transition: var(--transition);
  cursor: pointer;
  transform: scale(1.1);

}

.form-container h2{
  font-size: 2.5rem;
  color: var(--main-color);
  text-align: center;
  padding: 0 2rem;
  line-height: normal;
  margin: 1rem;


}

.form-container{
 padding: 2rem 3rem;
 min-height: 100%;
 min-width: auto;


}

.contact-section{
  
  margin-top: 10rem;
  min-height: auto;

 
}



@media(min-width:768px){
  .contact-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 15rem;
    height: 100vh;
    min-height: 100vh;
    margin-top: 20rem;
  
   
  }

  .form-container h2{
    font-size: 5rem;
    text-align: left;
  padding: 0 0;

  }
}

.fill-text{
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 5rem;
  

}

.fill-text p{
  color: var(--secondary-color);
  font-size: 1.5rem;
  text-align: left;

}

@media(min-width:768px){
  .fill-text{
    width: 100%;
    padding: 5rem 5rem;
    margin-top: 5rem;
    
  
  }
  
  .fill-text p{

    font-size: 2rem;
    text-align: center;
  
  }

}

.fill-text-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;

}


.work-container p{
 text-align: center;
 font-size: 2.5rem;
 line-height: 0;
}

@media(min-width:768px){
  .work-container p{
    text-align: center;
    font-size: 4rem;
    line-height: 0;
   }

}

.logos-container{
  display: flex;
  justify-content: center;
  
}


.linkind-icon{

  font-size: 4rem;
  color: var(--main-color);
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  
  
}

.gitIcon{
  font-size: 4rem;
  margin: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--main-color);
  transform: scale(1);

}

@media(min-width:768px){
  .linkind-icon{
    font-size: 5rem;
   
  }

  .gitIcon{
    font-size: 5rem;
 
  }
}



.linkind-icon{
  background-color: var(--main-color);
  color: #000;
  transform: scale(1);
}

.logos-container svg:hover{
  transform: scale(1.1);
  transition: var(--transition);
  cursor: pointer;
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75);
  
}

.error{
text-align: center;
font-size: 2rem;
color: red;
background-color: #363e49;
padding: 1rem 0;
box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
line-height: 3rem;
font-weight: bold;



}


.error p{
  text-align: center;
  font-size: 1.5rem;
  line-height: 0;
  color: red;

}

.btn-x{
 color: white;
 font-size: 3rem;
 line-height: 0;


}

.btn-x svg{
  background-color: red;
  border-radius: 50%;
  font-weight: bolder;
  padding: 0.5rem;
  box-shadow: 1px 2px 7px 3px rgba(0,0,0,0.44);
-webkit-box-shadow: 1px 2px 7px 3px rgba(0,0,0,0.44);
-moz-box-shadow: 1px 2px 7px 3px rgba(0,0,0,0.44);
  
  
  
}

.spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container{
  display: flex;
  flex-direction: column;
  background-color: #000;
  opacity: 0.8;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2rem;
  padding: 0 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
 
}

.modal-container p{
  line-height: 0;

}

.modal-container svg{
  width: 6rem;
  color: green;

}































